  
<div class="title-block">
  <div class="row">
    <div class="col s2 offset-s2"><h4><%=@movie.title%></h4></div>
    
    <div class="col s1"><h4>(<%=@movie.data(:year)%>)</h4></div>

  </div>
  <div class="row">
    <div class="col s1 offset-s2"><p>Rated: <%=@movie.data(:rated)%></p></div>
    <div class="col s1"><p>Runtime: <%=@movie.data(:runtime)%></p></div>
    <div class="col s2"><p>Genre: <%=@movie.data(:genre)%></p></div>
    <div class="col s2"><p>Release Data: <%=@movie.data(:released)%></p></div>
  </div>
</div>


<div class="movie-show valign-wrapper">

  <img class="left-align" src="<%=@movie.data(:poster)%>" >
  <p style="text-align:center;"><%=@movie.data(:plot)%></p>
</div>
<div>
  <h4>Reviews</h4>
  <% @movie.reviews.each do |review| %>
    <ul>
      <li>
      <% review.ratings.to_i.times do %>
        <i class=" material-icons yellow-text text-darken-2">stars</i>
      <% end %>
      </li>
      <li><%=review.content%></li>
      <li><%=review.user.username%></li>
    </ul>
  <% end %>
</div>

<br>
<table>
  <%if user_signed_in?%>
    <tr><%= button_to "Add Movie Review", new_movie_review_path(@movie), method: :get %></tr>
    <tr><%= button_to (check_favorite(@movie) ? "Remove from Favorites" : "Add to Favorites"), action: "favorite", class: "btn" %></tr>
    <tr><%= button_to (check_watchlist(@movie) ? "Remove from Watchlist" : "Add to Watchlist"), action: "watchlist" %></tr>
  <% elsif %>
    <tr><%= button_to "Add Movie Review", new_user_session_path, class: "btn" %></tr>
    <tr><%= button_to "Add to Favorites", new_user_session_path, class: "btn" %></tr>
    <tr><%= button_to "Add to Watchlist", new_user_session_path, class: "btn" %></tr>
  <% end %>
</table>



