  <h1><%=@movie.title%></h1>


<div class="movie-show valign-wrapper">

  <img class="left-align" src="<%=@movie.data(:poster)%>" >
  <p style="text-align:center;"><%=@movie.data(:plot)%></p>
</div>


<br>
<table>
  <%if user_signed_in?%>
    <tr><%= button_to (check_favorite(@movie) ? "Remove from Favorites" : "Add to Favorites"), action: "favorite", class: "btn" %></tr>
    <tr><%= button_to (check_watchlist(@movie) ? "Remove from Watchlist" : "Add to Watchlist"), action: "watchlist" %></tr>
  <% elsif %>
    <tr><%= link_to "Add To Favorites", new_user_session_path, class: "btn" %></tr>
    <tr><%= link_to "Add To Watchlist", new_user_session_path, class: "btn" %></tr>
  <% end %>
</table>



