  
<div class="title-block">
  <div class="row">
    <div class="col s4 center-align"><h3><%=@movie.title%></h3></div>
  </div>
  <div class="row">
    <div class="col s1 offset-s1 right-align"><p>Rated: <%=@movie.data(:rated)%></p></div>
    <div class="col s1"><p>Runtime: <%=@movie.data(:runtime)%></p></div>
    <div class="col s2"><p>Genre: <%=@movie.data(:genre)%></p></div>
    <div class="col s2"><p>Release Data: <%=@movie.data(:released)%></p></div>
    <div class="col s2"><i class="small material-icons yellow-text text-darken-3">stars</i> <span><%= @movie.imdbdata(:imdbRating)%>/ 10</span><span> (<%= @movie.imdbdata(:imdbVotes)%> Votes)</span></div>

  </div>
</div>


<div class="movie-show row">
  <div class="col s4 right-align"><img class="" src="<%=@movie.data(:poster)%>"></div>
  <div class="col s3"><p class=""><%=@movie.data(:plot)%></p></div>
  <div class="col s3">
    <p>Director: <%=@movie.data(:director)%></p>
    <p>Writers: <%=@movie.data(:writer)%></p>
    <p>Cast: <%=@movie.data(:actors)%></p>
    <p>Production: <%=@movie.data(:production)%></p>
    <p>Metascore: <%=@movie.data(:metascore)%></p>
  </div>

  
  
</div>
<div class="center-align row">
  <div class="col s1"></div>
  <div class="row col s4">
  <h4>Reviews</h4>
  <% @movie.reviews.each do |review| %>
    <ul class="card-panel">
      <li>
      <% review.ratings.to_i.times do %>
        <i class=" material-icons yellow-text text-darken-2">stars</i>
      <% end %>
      </li>
      <li><%=review.content%></li>
      <li>By: <%=review.user.username%></li>
    </ul>
  <% end %>
  </div>
  <div class="col s2"></div>
  <div class="row col s3 offset-3">
    <h4>Movie Conversations</h4>
    <% @movie.comments.each do |comment| %>
      <ul>
        <li class="card-panel"><%=comment.content%> -- <%=comment.user.username%></li>
      </ul>
    <% end %>
  </div>
</div>

<br>
<div class="center-align">
<table>
  <%if user_signed_in?%>
  <tr><%= button_to "Start a Conversation", new_movie_comment_path(@movie), method: :get %></tr>
    <% if !reviewed?(@movie)%>
      <tr><%= button_to "Add Movie Review", new_movie_review_path(@movie), method: :get %></tr>
    <% end %>
    <tr><%= button_to (check_favorite(@movie) ? "Remove from Favorites" : "Add to Favorites"), action: "favorite", class: "btn" %></tr>
    <tr><%= button_to (check_watchlist(@movie) ? "Remove from Watchlist" : "Add to Watchlist"), action: "watchlist" %></tr>
  <% elsif %>
      <tr><%= button_to "Add Comment", new_user_session_path, class: "btn" %></tr>
      <tr><%= button_to "Add Movie Review", new_user_session_path, class: "btn" %></tr>
      <tr><%= button_to "Add to Favorites", new_user_session_path, class: "btn" %></tr>
      <tr><%= button_to "Add to Watchlist", new_user_session_path, class: "btn" %></tr>
  <% end %>
</table>
</div>
