
<%= form_for :review, url: movie_reviews_path(@movie), method: :post do |f| %>
  <div>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>

  <div class="input-field">
    <%= f.label :ratings %><br>
    <%= f.select :ratings, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <% end %>
